---
const { path, blogtitle, date, emojidata} = Astro.props;
---
<li class="flex flex-row">
<img src={emojidata} alt="" class="basis-1/4 h-8">
<div class="basis-3/4">
<a href={path} class="text-3xl font-semibold">{blogtitle}</a>
<a　class="text-slate-500">{date}</a>
</div>
</li>
