---
const { title, desc } = Astro.props;
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="{desc}" name="description" />
    <meta name="robots" content="index, follow" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
    />
    </style>
 <link rel="stylesheet" href="global.css" />
  </head>
  <body>
    <header class="bg-sky-400">
      <a href="/" class="text-5xl h-fit w-screen max-w-4xl mx-auto">Book Backpacker</a>
    </header>
    <div class="bg-slate-400">
      <main class="mx-auto max-w-4xl w-screen">
        <slot />
      </main>
    </div>
 <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/privacy" class="hover:underline me-4 md:me-6">プライバシーポリシー</a>
        </li>
    
    </ul>
    </div>
</footer>
  </body>
</html>
