---
const { title, desc } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{title}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="{desc}" name="description">
</head>
<body>
	<header class="shadow w-full bg-red">
		<a class="text-2xl " href="/">Book Backpacker</a>
	</header>
	<main>
		<slot />
	</main>
	<footer>
              
	</footer>
</body>
</html>
