---
const { title, desc } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{title}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="{desc}" name="description">
</head>
<body>
	<header>
		<a class="text-xl bg-yellow-100" href="/">Book Backpacker</a>
	</header>
</body>
</html>
