---
const { title, desc } = Astro.props;
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="{desc}" name="description" />
    <meta name="robots" content="index, follow" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
    />
    </style>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-JWSZ7YNNKQ"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-JWSZ7YNNKQ");
    </script>
 <link rel="stylesheet" href="global.css" />
  </head>
  <body>
    <header class="bg-sky-400">
      <a href="/" class="text-5xl h-fit w-screen max-w-4xl mx-auto">Book Backpacker</a>
    </header>
    <div class="bg-slate-400">
      <main class="mx-auto max-w-4xl w-screen">
        <slot />
      </main>
    </div>
    <footer>2023 @ Satoru.</footer>
  </body>
</html>
