---
const { title, desc } = Astro.props;
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{title}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="{desc}" name="description">
	<meta name="robots" content="index, follow">
  <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap">
    </GoogleFontsOptimizer>
<style>
.font-Noto{
font-family: 'Noto Sans JP', sans-serif;}
</style>
<!-- Google tag (gtag.js) -->
<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-JWSZ7YNNKQ"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JWSZ7YNNKQ');
</script>
</head>
<body>
	<header class="w-full">
		<a class="text-3xl" href="/">Book Backpacker</a>
	</header>
<div class="bg-slate-100">	<main class="mx-auto max-w-4xl font-Noto">
		<slot />
	</main>
</div>
	<footer>
              2023 @ Satoru.
	</footer>
</body>
</html>
