---
const { title, desc } = Astro.props;
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{title}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="{desc}" name="description">
</head>
<body>
	<header class="w-full">
		<a class="text-3xl" href="/">Book Backpacker</a>
	</header>
<div class="bg-slate-300">	<main class="mx-auto max-w-4xl">
		<slot />
	</main>
</div>
	<footer>
              
	</footer>
</body>
</html>
