---
import Layout from '../components/Layout.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
const sorted = allPosts.sort((a, b) => {const aDate = new Date(a.frontmatter.pubDate);
	const bDate = new Date(b.frontmatter.pubDate);
	return aDate.getTime() - bDate.getTime();});
---
<Layout title="index" desc="Hellow!!">
   {sorted.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</Layout>
